<section class="py-10 bg-gray-100 sm:pt-16 lg:pt-24">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="grid grid-cols-2 md:col-span-3 lg:grid-cols-6 gap-y-16 gap-x-12">
            <div class="col-span-2 md:col-span-3 lg:col-span-2 lg:pr-8">
                <img class="w-auto h-20" src="assets/images/logo-walysumac-footer.png" alt="Walysumac Logo" />

                <p class="text-base leading-relaxed font-medium text-gray-800 mt-7">
                    Transformamos la industria textil con tecnología avanzada y soluciones que impulsan tu éxito.
                </p>

                <ul class="flex items-center space-x-3 mt-9">
                    <li>
                        <a href="#"
                            class="flex items-center justify-center text-white transition-all duration-200 bg-wsbhover rounded-full w-7 h-7 hover:bg-wsb focus:bg-wsb">
                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="currentColor">
                                <path
                                    d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809 ..." />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center text-white transition-all duration-200 bg-wsbhover rounded-full w-7 h-7 hover:bg-wsb focus:bg-wsb">
                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="currentColor">
                                <path
                                    d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127..." />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <p class="text-sm font-bold tracking-widest text-wsb uppercase">Company</p>
                <ul class="mt-6 space-y-4">
                    <li><a href="#"
                            class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Acerca
                            de Nosotros</a></li>
                    <li><a href="#"
                            class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Productos</a>
                    </li>
                    <li><a href="#"
                            class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Servicios</a>
                    </li>
                    <li><a href="#"
                            class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Contáctanos</a>
                    </li>
                </ul>
            </div>

            <div>
                <p class="text-sm font-bold tracking-widest text-wsb uppercase">Políticas</p>
                <ul class="mt-6 space-y-4">
                    <li><a href="#"
                            class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Política
                            de Privacidad</a></li>
                    <li><a href="#"
                            class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Política
                            de Seguridad</a></li>
                    <li><a href="#"
                            class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Política
                            de Garantía</a></li>
                    <li><a href="#"
                            class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Términos
                            y Condiciones</a></li>
                            <li><a href="#"
                                    class="flex text-base text-black transition-all duration-200 hover:text-wsb hover:font-semibold">Libro de Reclamaciones</a></li>
                </ul>
            </div>

            <div class="col-span-2 md:col-span-1 lg:col-span-2 lg:pl-8">
                <p class="text-sm font-bold tracking-widest text-wsb text-blue uppercase">Suscríbete a nuestras promociones</p>

                <form action="#" method="POST" class="mt-6">
                    <div>
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" name="email" id="email" placeholder="Ingresa tu correo electrónico"
                            class="block w-full p-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-wsb caret-wsb" />
                    </div>

                    <button type="submit"
                        class="inline-flex items-center justify-center px-6 py-4 mt-3 font-semibold text-white transition-all duration-200 bg-wsbhover rounded-md hover:bg-wsb focus:bg-wsb">
                        Suscribirse
                    </button><br> <br>
                    <p class="text-center text-sm font-bold tracking-widest text-wsb uppercase">Estamos afiliados</p>
                    <!-- Imagen de CCL -->
                    <div class="mt-4 flex justify-center"><br> <br>
                        <img class="w-60" src="assets/images/logo-ccl.png" alt="Afiliado a CCL" />
                    </div>
                </form>
            </div>
        </div>

        <hr class="mt-16 mb-10 border-gray-200" />

        <div
            class="flex flex-col sm:flex-row justify-between items-center text-xs sm:text-sm font-semibold text-gray-700 text-center sm:text-left">
            <p class="order-2 sm:order-1 mt-2 sm:mt-0">© 2024 Walysumac. Todos los derechos reservados.</p>
          
        
        </div>

    </div>
</section>
