/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.text-wsb {
  color: #046183;
}   
.text-wsbhover {
  color: #52829d;
}


hover-wsb {
  color: #52829d;
}

wsb{
    color: #046183;
}